    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {
      height: 2000px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }

.sidenav a {
  color: #297bff;
}

.active a{
    background-color:#297bff !important;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #297bff;
  border-radius: 10px;
}

.label-badge {
  background-color: #0015ff;
  color: #fff;
}

