body {
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #f4f4f4;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  margin: 0;
  display: flex;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  padding: 10px 20px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

/* Footer */

  .footerWrapper {
    font-family: 'Poppins', sans-serif;
  }

  .footerWrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .footerContainer {
    max-width: 1170px;
    margin: auto;
  }

  .footerContainer .row {
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    list-style: none;
  }

  .footer {
    background-color: #02091a;
    padding: 70px 0;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer-col ul li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }

  #offerteText {
    color: #bbbbbb;
    padding-left: 0px;
  }


  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }